<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>

    <form action="/register"
    method="post">

        <input placeholder="Enter name"
         type="text"
        name="username">

        <input placeholder="Enter Email"
        type="email"
        name="Email">

        <input type="password"
        placeholder="Enter password"
        name="password">

        <button>Register User</button>

    </form>

</body>
</html>